<h3>Agregar producto</h3>
<br><br>
<form id="Form agregar producto">

  Nombre del producto:
  <input type="string" name="title" id="title" /> <br>

  Descripción:
  <input type="string" name="description" id="description" /><br>

  Status:
  <input type="boolean" name="status" id="status" /><br>

  Precio:
  <input type="number" name="price" id="price" /><br>

  Código:
  <input type="string" name="code" id="code" /><br>

  Stock:
  <input type="number" name="stock" id="stock" /><br>

  Thumbnails:
  <input type="string" name="thumbnails" id="thumbnails" /><br>

  <input type="submit" value="ENVIAR" />

</form>

<br></br>