<h1>Cargar documentación</h1>
<br> <br>
<form action="/api/users/{{id}}/documents">
    DNI: <input type="file" name="DNI" id="DNI"> <br>
    DIRECCIÓN: <input type="file" name="address" id="address"> <br>
    BANCO: <input type="file" name="bank" id="bank"> <br>
    <input type="submit" value="Enviar">
</form>