<form action="/api/users/{{id}}/documents">
    DNI: <input type="file" name="DNI" id="DNI">
    DIRECCIÓN: <input type="file" name="address" id="address">
    BANCO: <input type="file" name="bank" id="bank">
    <input type="submit" value="Enviar">
</form>