<h1>Iniciar sesión</h1>
<br> <br>
<form action="/api/sessions/login" method="post" id="Form Login">

  Mail:
  <input type="email" name="email" id="email" /> <br>

  Password:
  <input type="password" name="password" id="password" /><br>

  <input type="submit" value="Login" />

</form>
<br><br>
<botoom><a href="/api/sessions/auth/github">GITHUB</a></botoom><br><br>
<botoom><a href="/api/views/restaurar">Restaurar contraseña</a> </botoom>