<h3>Iniciar sesión</h3>
<div style="align: center; width: 500px" >
  <form action="/api/sessions/login" method="post" id="Form Login">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">No compartiremos tu email con nadie.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>
    <button class="btn btn-outline-warning" type="submit" data-bs-toggle="offcanvas" data-bs-target="#Side_carrito"
      aria-controls="offcanvasRight" value="Login">Ingresar</button>
  </form>

  <div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <a href="#" onclick="location.href='/api/sessions/auth/github'" class="sessionButton">
        <button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#Side_carrito"
          aria-controls="offcanvasRight">GITHUB</button>
          </a>
      </div>
      <div class="col-md-auto">
        <a href="#" onclick="location.href='/api/views/restaurar'" class="sessionButton">
        <button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#Side_carrito"
          aria-controls="offcanvasRight">Restaurar contraseña</button>
          </a>
      </div>
    </div>
  </div>