<h1>¡Muchas gracias por tu compra {{name}}!</h1>
<p>Su orden de compra es la {{code}}</p>
<br>
<a href="#" onclick="pay()" class="sessionButton"><button class="btn btn-outline-warning" type="button"
        data-bs-toggle="offcanvas" aria-controls="offcanvasRight">PAGAR</button></a>


<script src="/payments.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>