<h1>Opción premium</h1>
<br> <br>
El rol actual de tu cuenta es: {{user.role}}<br>
¿Deseas cambiar tu rol?<br>
<div class="container text-center">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form action="/api/users/premium/{{user._id}}" method="post"  id="Udatep-Rol-User">
                <div class="col-md-auto">
                    <label class="form-label">Rol:</label>
                    <select class="form-select" aria-label="Default select example" id="role" name="role">
                        <option value="USER">USER</option>
                        <option value="PREMIUM">PREMIUM</option>
                    </select>
                    <input type="hidden" name="_id" id="_id" value="{{user._id}}">
                    <div class="col-md-auto">
                            <input class="btn btn-outline-warning" data-bs-toggle="offcanvas"
                            data-bs-target="#Side_carrito" aria-controls="offcanvasRight" type="submit" value="Cambiar Rol">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>