<h1>Opción premium</h1>
<br> <br>
El rol actual de tu cuenta es: {{user.role}}<br>
¿Deseas cambiar tu rol?<br>
<div class="container text-center">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form id="changeRoleForm">
                <div class="col-md-auto">
                    <label for="email" class="form-label">Rol:</label>
                    <select class="form-select" aria-label="Default select example" id="role" name="role">
                        <option value="USER">USER</option>
                        <option value="PREMIUM">PREMIUM</option>
                    </select>
                    <div class="col-md-auto">
                        <button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#Side_carrito" aria-controls="offcanvasRight"
                            onclick="location.href='/api/users/{{user._id}}'">Cambiar Rol</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script src="../public/js/premium.js"></script>