<h3>Hola, {{user.name}}</h3>
<div style="align: center; width: 500px">
    <b>Email: {{user.email}} </b> <br>
    <b>Tipo de usuario: {{user.role}} </b>
</div>
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <a href="#" onclick="location.href='/api/views/products'" class="sessionButton"><button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" aria-controls="offcanvasRight">Ver Productos</button></a>
      </div>
      <div class="col-md-auto">
        <a href="#" onclick="location.href='/api/views/premium'" class="sessionButton"><button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" aria-controls="offcanvasRight">Premium</button></a>
      </div>
      <div class="col-md-auto">
        <a href="#" onclick="location.href='/api/views/createProduct'" class="sessionButton"><button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" aria-controls="offcanvasRight">Crear nuevo producto</button></a>
      </div>
      <div class="col-md-auto">
        <a href="#" onclick="location.href='/api/sessions/signout'" class="sessionButton">
        <button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" aria-controls="offcanvasRight">Cerrar sesión</button>
        </a>
      </div>
    </div>
  </div>