<form id="form-rtpAdd">
    Titulo: <input id="title" type="text">
    Descripción: <input id="description" type="text">
    Codigo: <input id="code" type="number">
    Precio: <input id="price" type="number">
    Stock: <input id="stock" type="number">
    Thumbnail: <input id="thumbnail" type="text">
    <button type="submit" value="Agregar">Agregar producto</button>
</form>

<form id="form-rtpDelete">
    ID:<input id="idDelete" placeholder="id" type="number">
    <button type="submit" value="Eliminar">Eliminar producto</button>
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/index.js"></script>

