<h1>Recuperar cuenta</h1>
<br> <br>
<p>Te enviaremos un mail a tu correo para realizar la recuperación de tu cuenta.</p>
<form  action="/api/sessions/recover" method="post">

  Email:
  <input type="email" name="email" id="email" />
  <input type="submit" value="Submit" />

</form>