<form action="/api/sessions/signup" method="post">
    Nombre: <input type="text" name="firstName" id="firstName">
    Apellido: <input type="text" name="lastName" id="lastName">
    Email: <input type="email" name="email" id="email">
    Contraseña: <input type="password" name="password" id="password">
    <input type="submit" value="Sign up">
</form>