<h2>Precio real del producto:</h2>

<form id="form">
    Precio: <input type="number" name="price" id="price">
    <input type="submit" value="SEND">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>